# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
venv/
build/
dist/

# Editors
.vscode/
.idea/

# Node (на будущее для фронтенда)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
.out/
dist/
coverage/